@charset "UTF-8";
* {
    outline: none;
    user-select: none;
  }

  html {
    width: 100vw;
    height: 100vh;
  }
  body {
    background-color: transparent;
    background-repeat: repeat, no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: auto, cover;
    background-size: auto, cover;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
  }
  .hide-dashboard .dashboard {
    display: none;
  }
  .hide-dashboard .music-box .album {
    height: calc(100vh - 50px) !important;
  }
  .hide-dashboard .music-box .album .photo + img {
    height: 60% !important;
    top: 3vh !important;
    left: 3vh !important;
  }

  .pointer {
    cursor: pointer;
  }
  .mouse, .default {
    cursor: default;
  }
  #drag {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    cursor: move;
    z-index: -100000;
    -webkit-app-region: drag;
    background-color: rgba(0,0,0,0.5);
    background-size: 30px 30px;
    -webkit-animation: stripes 2s linear infinite;
    animation: stripes 2s linear infinite;
    background-image: linear-gradient(-45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent) !important;
  }
  #drag.draggable {
    display: block;
    z-index: 100000;
  }
  .enable-dragging {
    position: fixed;
    top: -3px;
    right: 2px;
    opacity: 0;
    cursor: move;
    transition: all 350ms ease;
    color: #38f !important;
  }
  .enable-dragging:hover {
    opacity: 1;
    padding: 3px;
  }
  .done-dragging {
    -webkit-app-region: no-drag !important;
    position: fixed;
    opacity: 0;
    visibility: hidden;
    bottom: 0px;
    left: 0px;
    width: 100vw;
    height: 50px;
    z-index: -100000;
    background: #3388ff;
    color: #ffffff;
    box-shadow: 0px -20px 100px 50px #38f;
    cursor: pointer !important;
    user-select: none;
    pointer-events: all !important;
    border: none;
    transition: all 550ms ease;
  }
  .done-dragging:hover {
    box-shadow: 0px 0px 0px 0px #38f;
  }
  #drag.draggable + .done-dragging {
    opacity: 1;
    visibility: visible;
    z-index: 100001;
    -webkit-app-region: no-drag;
  }


  .music-box {   
    -webkit-app-region: no-drag;
    position: relative;
    height: 100%;
    transform: translate(0%, 0%);
    padding: 10px;
    border-radius: 3px;
    overflow: hidden;
    background: rgba(0,0,0,0.75);
}
  .music-box .album {
    -webkit-app-region: no-drag;
    position: relative;
    height: 50vh;
    background: url(../img/SVG/rings.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #111;
  }
  .album:before {
    content: "Awaiting your orders, Captain...";
    position: absolute;
    width: auto;
    margin: auto 0;
    top: 40vh;
  }
  .album.nowplaying:before {
    content: "" !important;
  }
  .music-box .album .photo {
    -webkit-app-region: no-drag;
    background: url(assets/icons/roonbg.png) no-repeat 100% 100%;
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%;
    filter: contrast(0.5) brightness(0.8) sepia(0.4) saturate(0.8);
  }
  .music-box .album .photo + img {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 50%;
    box-shadow: 0px 8px 20px -5px #000;
    z-index: 1;
  }
  .mini-info {
    position: absolute;
    top: -24px;
    right: -2px;
    width: 100%;
    height: 20px;
    text-align: center;
    color: #999;
    padding: 2px;
  }
  .music-box .album .infos {
    background-color: rgba(0, 0, 0, 0.55);
    width: 100%;
    height: 33%;
    position: absolute;
    bottom: 0px;
  }
  .music-box .album .infos .song {
    padding: 10px 0px 0px 20px;
    color: rgb(166, 201, 250);
    letter-spacing: 0.5px;
  }
  .line1 {
    -webkit-app-region: no-drag;
    max-width: calc(100vw - 50px);
  }
  .line2{
    -webkit-app-region: no-drag;
    max-width: calc(100vw - 50px);
  }
  .line3{
    -webkit-app-region: no-drag;
    margin-top: 12px;
    max-width: calc(100vw - 50px);
  }
  .music-box .album .infos .song span, .music-box .album .infos .song small {
    -webkit-app-region: no-drag;
    display: block;
    line-height: 1.2em;
  }
  .music-box .dashboard {
    -webkit-app-region: no-drag;
    position: relative;
    width: calc(100% - 10px);
    height: 45vh;
    padding: 0px;
    margin: 10px;
  }
  .music-box .dashboard .list {
    -webkit-app-region: no-drag;
    position: relative;
    transition-duration: 0.3s;
    background-color: #eee;
    right: 25px;
  }
  .music-box .dashboard .list .list-btn {
    -webkit-app-region: no-drag;
    z-index: 2;
    background-color: #252525;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 10px;
    top: -40px;
    cursor: pointer;
    transition-duration: 0.3s;
    transition-delay: 0.9s;
}
  .music-box .dashboard .list .list-btn span {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 20px;
    height: 2px;
    background-color: #38f;
    position: relative;
    transition: width 0.3s 0.3s, background-color 0.3s 0.6s;
    transition-timing-function: linear;
  }
  .music-box .dashboard .list .list-btn span::before, .music-box .dashboard .list .list-btn span::after {
    background-color: #38f;
    content: "";
    width: 20px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 0;
    transition-timing-function: linear;
    transition: width 0.3s 0.3s, margin 0.3s 0.6s, transform 0.3s 0.3s;
  }
  .music-box .dashboard .list .list-btn span::before {
    margin-top: 6px;
  }
  .music-box .dashboard .list .list-btn span::after {
    margin-top: -6px;
  }
  .music-box .dashboard .list.active .list-btn {
    top: calc(100% - 55vh);
    transition: top 0.3s 0.6s;
  }
  .music-box .dashboard .list.active .list-btn span {
    background-color: transparent;
    width: 34px;
    transition: width 0.3s, background-color 0.3s;
  }
  .music-box .dashboard .list.active .list-btn span::before, .music-box .dashboard .list.active .list-btn span::after {
    margin: 0;
    width: 34px;
    transition: width 0.3s, margin 0.3s, transform 0.3s 0.3s;
  }
  .music-box .dashboard .list.active .list-btn span::before {
    transform: rotate(225deg);
  }
  .music-box .dashboard .list.active .list-btn span::after {
    transform: rotate(315deg);
  }
  
  .music-box .dashboard .player {
    height: 33%;
  }

  .mini-time {
    position: absolute;
    right: 15px;
    top: 20px;
    color: white;
  }

  .music-box .dashboard .player .time {
    color: rgb(223, 231, 243);
    padding-top: 5px;
  }
  .music-box .dashboard .player .time-rail {
    height: 2px;
    position: relative;
    margin-top: 5px;
    padding: 10px 0;
    overflow: hidden;
    cursor: pointer;
    transition: all 550ms ease;
    width: 100%;
  }
  .music-box .dashboard .player .time-rail-seek {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 3;
  }
  .music-box .dashboard .player .time-rail-seek:before {
    content: attr(data-seek);
    font-size: 8px;
    letter-spacing: 1.5px;
  }

  .music-box .dashboard .player .time-rail:hover {
    background: rgba(51, 136, 255, 0.08);
    border-radius: 0.2em;
  }
  .music-box .dashboard .player .time-rail .thumb, .music-box .dashboard .player .time-rail .track {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .music-box .dashboard .player .time-rail .thumb {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #4692fd;
    z-index: 1;
    left: 0%;
    transition: 0.3s;
}
  .music-box .dashboard .player .time-rail .thumb:hover {
    transform: translateY(-50%) scale(1.2);
  }
  .music-box .dashboard .player .time-rail .thumb::before {
    content: "";
    width: 100vw;
    height: 2px;
    background-color: #4692fd;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
  .music-box .dashboard .player .time-rail .track {
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #155abb;
}
  .music-box .dashboard .player .time-rail input[type="range"] {
    width: 100%;
    -webkit-appearance: none;
    overflow: hidden;
    background: none;
  }
  .music-box .dashboard .player .time-rail input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #38f;
  }
  .music-box .dashboard .action-button {
    text-align: center;
    margin-top: 20px;
    height: 80%;
  }
  .music-box .dashboard .action-button a {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 3px;
    line-height: 25px;
    color: #f0f0f0;
    transition-duration: 0.3s;
}
  .music-box .dashboard .action-button a:hover {
    color: #38f;
  }
  .music-box .dashboard .action-button a:hover.play-pause {
    border-color: #38f;
  }
  .music-box .dashboard .action-button a.play-pause {
    border-radius: 50%;
    border: 1px solid #fff;
    font-size: 1.5em;
    width: 35px;
    height: 35px;
    line-height: 49px;
}
  .music-box .dashboard .action-button a.play-pause.active {
    border-color: #38f;
  }
  .music-box .dashboard .action-button a.play-pause i {
    font-size: 28px !important;
  }
  .music-box .dashboard .action-button a.play-pause.active i::before {
    content: "ÔÅã";
    margin-left: 5px;
  }
  .music-box .dashboard .action-button a.active {
    color: #38f;
  }
  input.volume-input {
    display: none;
    position: absolute;
    top: 1px;
    right: -65px;
    width: 50px;
    background: rgba(0,0,0,0.1);
    color: #f0f0f0;
    border: none;
    text-align: center;
    padding: 2px;
  }
  .music-box .lists {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: calc(100% - 24px);
    top: 0;
    left: 0;
    background-color: #262626;
    transform: translateX(-100%);
    transition: 0.3s 0s;
  }
  .lists em {
    color: #f0f0f0;
  }
  .music-box .lists.active {
    transform: translateX(0);
    transition: 0.3s 0.9s;
  }
  .music-box .lists .label {
    font-size: 12px;
    padding: 5px;
    height: 25px;
    box-sizing: border-box;
    color: #38f;
    height: 20vh;
    min-height: 50px;
  }
  .browsertitle {
    font-size: 12px;
    box-sizing: border-box;
    color: #38f;
  }
  .browsersubtitle {
    font-size: 12px;
    box-sizing: border-box;
    color: #fff;
  }  
  .music-box .lists ul {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;
    overflow-y: auto;
    background-color: #353535;
  }
  .music-box .lists ul::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }
  .music-box .lists ul::-webkit-scrollbar-track {
    background-color: #000;
  }
  .music-box .lists ul::-webkit-scrollbar-thumb {
    background-color: rgba(29, 96, 189, 0.89);
    border-radius: 3px;
  }
  .music-box .lists ul li {
    cursor: pointer;
    padding: 5px 15px;
    transition-duration: 0.3s;
  }
  .music-box .lists ul li span, .music-box .lists ul li em {
    display: inline-block;
  }
  .music-box .lists ul li span small {
    display: block;
  }
  .music-box .lists ul li em {
    float: right;
    top: 0;
    font-style: normal;
    font-size: 12px;
    margin-top: 12px;
  }
  .music-box .lists ul li:nth-of-type(odd) {
    background-color: rgba(70, 50, 57, 0.1);
  }
  .music-box .lists ul li:hover {
    background-color: rgba(70, 50, 57, 0.3);
  }
  .box {
    position: relative; 
  }

  @media screen and ( max-height: 250px ) {
    .hidden-small {
      display: none; 
     }
     .visible-small {
       display: block;
     }
     .music-box .dashboard .player {
       height: 33% !important;
     }
     .main-grid {
       margin-top: -10px;
     }

     
     .scaled-info {
      width: 48vw;
     }
     .scaled-info img {
      width: 30px; height: 30px; margin-left: -10px; margin-right: 10px;
     }

     .hide-dashboard .scaled-info {
      height: 100vh !important;
      margin-top: -32px !important;
      width: 100vw !important;
      z-index: -1 !important;
      padding-top: 45px !important;
      padding-left: 18px !important;
     }
     .hide-dashboard .scaled-info img {
       width: 30vw !important; height: 65vh !important; margin-left: 0px !important; margin-right: 10px !important;
     }
 }
 @media screen and ( min-height: 201px ) and ( max-height: 599px ){
   .hidden-small {
     display: ''; 
   }
   .visible-small {
     display: none;
   }
   .music-box .dashboard .player {
     height: 22%;
   }
   .music-box .album .infos .song {
    font-size: 1em;
  }
 }

 @media screen and ( min-height: 600px ) {
  .hidden-small {
    display: ''; 
  }
  .visible-small {
    display: none;
  } 
  .music-box .album {
     height: 70vh !important;
   }
   .music-box .dashboard {
     height: 15vh !important;
   }
   .music-box .album .infos .song {
    font-size: 3.5em;
  }
 }


  @-webkit-keyframes stripes {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 30px 0
    }
}

@keyframes stripes {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 30px 0
    }
}

